/* General */
body,
html {
  box-sizing: border-box;
  padding: 0;
  background-color: #fafbfe !important;
  margin: 0;
}

.section-padding {
  padding: 80px 0;
}

/* page title */
.wave-hand.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.wave-hand {
  background-image: url('~assets/images/wave.png');
  margin-left: 10px;
  cursor: pointer;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.wave-hand:hover {
  -webkit-animation-name: wave;
  animation-name: wave
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: none;
    transform: none
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg)
  }

  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg)
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg)
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes wave {
  from {
    -webkit-transform: none;
    transform: none
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg)
  }

  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg)
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg)
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg)
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg)
  }

  to {
    -webkit-transform: none;
    transform: none
  }
}

/* vue modal */
.vm--modal {
  height: auto !important;
}

/* button styling */
button {
  outline: none !important;
}
